<?xml version="1.0"?>
<!--
/**
 * Copyright © Byte8 Ltd (formerly Soft Commerce). All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="softcommerce_notification" frontName="softcommerce_notification">
            <module name="SoftCommerce_ProfileNotification"/>
        </route>
    </router>
</config>